.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 20px;
}

.App-body {
  padding: 40px;
}

.App-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #282c34;
  color: white;
  padding: 10px;
}
